# Database
# These mysql values are the ones used by MySQL dev container
# see /docker-compose file
MYSQL_ADAPTER=trilogy
MYSQL_USERNAME=root
MYSQL_DATABASE=algoliaweb_dev
MYSQL_PASSWORD=
MYSQL_REPLICA_PORT=3307
MYSQL_SHARD_HOST=127.0.0.1
MYSQL_HOST=127.0.0.1
ENABLE_LOCAL_DATABASE_REPLICAS=false

# Rails
#
# RAILS_PORT=3000

# Webpack
# Disable webpack running with foreman if you prefer running it separately.
#
# NO_WEBPACK=true

# Sidekiq
#
START_SIDEKIQ=true
# Only uncomment this if you are using the docker compose setup
# and running two instances of redis locally
# SIDEKIQ_REDIS_URL=redis://localhost:6378


# Logstash
#
# LOGSTASH_ENABLED=true

# Rspec
#
# RSPEC_SHORT_BACKTRACE=true

# SimpleCov (measures code coverage when running Rspec)
# COVERAGE=true

# Seeds
#
# ALGOLIA_USER_EMAIL=jeremy.venezia@algolia.com,alexandre.meunier@algolia.com
ALGOLIA_USER_EMAIL=your.email@algolia.com
# SEEDS_APP_OF_DEATH=
# SKIP_EDGE_POPS_SEED=
# SEEDS_CHARGES=true

OKTA_OIDC_ADMIN_CLIENT_ID=
OKTA_OIDC_ADMIN_SECRET=


# Misc
#
DISABLE_ASSETS_DEBUG=true
# GOOGLE_OAUTH2_SKIP_JWT=true

# Parallel Tests
#
# PARALLEL_TEST_PROCESSORS=4

#The values below are all private, ask to a team member to send them to you in a secret message: https://msg.algolia.com/msg

ALGOLIA_SETTINGS_APP_ID=
ALGOLIA_SETTINGS_INDEX_NAME=
ALGOLIA_SETTINGS_SEARCH_KEY=
ALGOLIA_SETTINGS_CONFIG_KEY=
ALGOLIA_INFRASTRUCTURE_API_KEY=

PERSONIFICATION_SIGNATURE=
MONITORING_ADMIN_URL=

DNS_MANAGER_TOKEN=

PENDO_API_KEY=

AMPLITUDE_EXPERIMENT_SERVER_API_KEY=
AMPLITUDE_MANAGEMENT_API_TOKEN=

# Required to access the Production Dashboard's Internal API
INTERNAL_API_TOKEN=

IP_DATA_API_KEY=

# Frontend
#
DASHBOARD_WEB_BACKEND_HOST=https://beta.algolia.com

# debug | info | warn | error | fatal | unknown
# RAILS_LOG_LEVEL=
# SIDEKIQ_LOG_LEVEL=

# Leave this commented out unless you need to have
# local errors go to Sentry. Please re-comment it out
# when you're done so we don't flood Sentry
# SENTRY_DSN=

# Zendesk keys used to send support ticket through the Dashboard
# Contact #help-zendesk-ticket-system for the appropriate values
ZENDESK_GROUP_ID=
ZENDESK_API_URL=
ZENDESK_API_USERNAME=email@algolia.com
ZENDESK_API_TOKEN=
ZENDESK_APPLICATION_ID_FIELD_ID=
ZENDESK_REQUEST_TYPE_FIELD_ID=

# Crawler
BILLING_CRAWLER_API_KEY=
CRAWLER_ADMIN_API_KEY=

# AWS MARKETPLACE
AWS_SELLER_ACCESS_KEY_ID=
AWS_SELLER_SECRET_ACCESS_KEY=
AWS_SELLER_REGION=
AWS_SELLER_SQS_QUEUE_NAME=marketplace-subscription-test-sqs
AWS_SELLER_SQS_REGION=eu-north-1

TMDB_API_KEY=

# you only need these values for testing sending events to Confluent Cloud
# grab the dev/beta values from Vault
CONFLUENT_API_KEY=fake_key
CONFLUENT_API_SECRET=fake_secret
CONFLUENT_BOOTSTRAP_SERVER=fake_server
CONFLUENT_SCHEMA_REGISTRY_URL=fake_url
CONFLUENT_SCHEMA_REGISTRY_API_KEY=fake_key
CONFLUENT_SCHEMA_REGISTRY_API_SECRET=fake_secret

# NOS
NOS_API_URL=https://nos-dev.algolia.com
NOS_API_CLIENT_ID= # get from vault
NOS_API_CLIENT_SECRET= # get from vault
NOS_API_CLIENT_SCOPES="nos-dev/read nos-dev/write"
NOS_API_OAUTH_URL=https://algolia-nos-dev.auth.us-east-1.amazoncognito.com/oauth2/token

#Vercel Integration
VERCEL_INTEGRATION_ID= # get from vault
VERCEL_INTEGRATION_SECRET= # get from vault

# Ask AI
ASK_AI_API_URL=
ASK_AI_INTERNAL_ACCESS_TOKEN= # get from vault

# Algolia Assist
ALGOLIA_ASSIST_AGENT_APP_ID=
ALGOLIA_ASSIST_AGENT_API_KEY=
ALGOLIA_ASSIST_AGENT_ID=

# Sample Dataset
SAMPLE_DATASETS_SOURCE_APP_ID=beta5INEP0LI9Z
SAMPLE_DATASETS_SOURCE_WRITE_KEY= # get from vault
SAMPLE_DATASETS_USE_LOCAL_SOURCE_APP=false # boolean value, set true if needed

# Algolia Assist AI Guard
DD_AI_GUARD_API_KEY=
DD_AI_GUARD_APP_KEY=
AI_SAFETY_PROVIDER=

# Temporal
TEMPORAL_ADDRESS=localhost:7233
TEMPORAL_NAMESPACE=default
TEMPORAL_TASK_QUEUE=algoliaweb
TEMPORAL_API_KEY=
TEMPORAL_CODEC_ENDPOINT=
TEMPORAL_DEBUG=false

RACK_TIMEOUT_SERVICE_TIMEOUT=120
